body {
    background-color: #4A4A4A;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    overflow:auto;
    color: #CEDAE0;
}

#outer-container {
    display: table;
    width: 100%;
    height: 100%;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #4267B2;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    text-align: center;
}


li a {

    color: #CEDAE0;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    transition: background .5s;
    font-size: 20px;

    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

/* Change the link color on hover */
li a:hover {
    background-color: #CEDAE0;
    color: black;
}


#content {
    display: table-cell;
    width: 75%;
    vertical-align: top;
}



/* the download link*/
.link{
    color: #CEDAE0;
    display:inline;
    padding: 8px 16px;
    text-decoration: none;
    transition: background .5s;
    font-size: 20px;

    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;

}
.link:hover{
    background-color: #CEDAE0;
    color: black;
}

.aligncenter {
    text-align: center;
}
